body{
    background-color: beige;
}
h1{
    font-size:25px;
    color:rgb(87, 7, 7);
}

.orders {
    border:2px solid black;
    padding:25px;
    width:auto;
    margin:5px;
    background-color: white;
}

.orders a{
    text-decoration: none;
    font-weight:bold;
}

.lists{
    display:flex;
    flex-wrap: wrap;
}