<!DOCTYPE html>
<html>

<head>
    <title>{% block pagetitle %}Store{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    
    <div>
        <a href="{{ url_for('home') }}"> Homepage</a>
        <a href="{{ url_for('customers') }}"> Customers</a>
        <a href="{{ url_for('products') }}"> Products </a>
        <a href="{{ url_for('categories') }}"> categories</a>
        <a href="{{ url_for('orders') }}">Orders</a>
    </div>
    
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <h1>ඞ</h1>
</body>

</html>