{% extends "base.html" %}

{% block content %}
<h1>Homepage</h1>
<div class="lists">
    {% for order in data %}
    <div class="orders">
        <h1><a href="{{ url_for('html.order_detail', id=order.id)}}">Order #{{ order.id }}</a></h1>
        <h4>{{ order.customers.name }}</h4>
        <p>Price: {{ order.estimate() }}</p>

        <p>Order Completed: {{ order.completed }}</p>
        <ul>
            {% for items in order.items %}
            {% if items.quantity > items.product.inventory %}
            <li style="color:red; font-weight:bold;">{{ items.product.name }} - {{ items.quantity }}</li>
            {% else %}
            <li>{{ items.product.name }} - {{ items.quantity }}
                {% if items.quantity > items.product.inventory %}
                    <strong>Not enough</strong>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
            
        </ul>
        

        {% if order.completed == None %}
        <a href="{{ url_for('html.order_detail', id=order.id)}}">Complete order</a>
        {% else %}
        <p>Completed</p>
        {% endif %}

            
    </div> 
    
    
    {% endfor %}
</div>
{% endblock %}
    
